<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Update Ticket</title>
</head>
<body>
	<div class="container">
		<div th:insert="fragments/navbar.html"></div>
		<div class="jumbotron">
			<h3 th:text="'Ticket Id - ' + ${id}" align="center"></h3>
			<br>
			<form action="#" th:action="@{/tickets/updateTicket/{Id}(Id = ${id})}" th:object="${ticket}" method="post">
				<div class="form-group">
					<label for="title">Title:</label> 
					<input type="text"
						class="form-control" placeholder="Update Title" th:field="*{title}">
				</div>
				<div class="form-group">
					<label for="description">Description:</label> 
					<input type="text"
						class="form-control" placeholder="Update Description" th:field="*{description}">
				</div>
				<div class="form-group">
					<label for="status">Status:</label> 
					<input type="text"
						class="form-control" placeholder="Update Status" th:field="*{status}">
				</div>
				<div class="form-group">
					<label for="application_id">Application Id:</label> 
					<input type="text"
						class="form-control" placeholder="Update Application Id" th:field="*{application.id}">
				</div>
				<div class="form-group">
					<label for="release_id">Release Id:</label> 
					<input type="text"
						class="form-control" placeholder="Update Release Id" th:field="*{release.id}">
				</div>
				<button type="submit" class="btn btn-primary btn-block">Edit</button>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>